@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Nunito", sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    height: auto;
    
}

/* Start of Sidebar */

.sidebar {
    background-color: rgb(32, 148, 194);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 65px;
    padding: 20px;
}

h1{
    font-size: em;
}

.mdi-bread-slice-outline {
    font-size: 2em;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 85px;
}

nav > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 25px;
    font-size: 1.5em;
    font-weight: bold;
}

nav > ul > li {
    display: flex;
    gap: 25px;
}

/* End of Sidebar */

/* Start of Upper-Header */

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2);
    padding-bottom: 15px;
    position: relative;
    z-index: 1;
}

.upper-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px 10px 0px 40px;
    align-items: center;
}

.side-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.side-nav > img {
    max-width: 50px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.side-nav > p {
    font-size: 1.3em;
    font-weight: bold;
}

label > * {
    width: 100%;
}

label > input[type="search"] {
    border: none;
    padding: 8px;
    background-color: rgb(222, 241, 248);
    border-radius: 20px;
}

label {
    display: grid;
    grid-template-columns: auto  1fr;
    align-items: center;
    gap: 25px;
}

.mdi-magnify {
   justify-items: center;
}

.mdi-magnify,
.mdi-bell-outline {
    font-size: 1.8em;
}

/* End of Upper-Header */

/* Start of Lower-Header */

.lower-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 20px 0px 40px;
}

.lower-header-left {
    display: grid;
    grid-template: 1fr 1fr / auto 1fr;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.lower-header-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-column: 3;
}

.lower-header-right > button {
    width: 60%;
    height: 50%;
    background-color: rgb(32, 148, 194);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1em;
}

.username {
    font-size: 1.7em;
}

.lower-header-left > img {
    max-width: 90px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    grid-row: 1 / 3;
}

/* End of Lower-Upper */

/* Start of Content */

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(222, 241, 248);
    gap: 20px;
    padding: 30px;
}

.announcements {
    grid-column: 2;
}

.trending {
    grid-column: 2;
}

.projects {
    grid-row: 1/ span 2;
}

.projects > p,
.announcements > p,
.trending p {
    font-size: 1.4em;
    margin-bottom: 10px;
    font-weight: bold;
}

.cards-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 30px;
}

.card {
    font-size: 1.2em;
    padding: 20px;
    background-color: #fff;
    border-left: 8px solid rgb(30, 174, 210);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card > p {
    font-weight: bold;
    grid-column: 1 / span 3;
    margin: 15px 0 10px 0;
}

.card > .description {
    grid-column: 1 / span 3;
    font-size: 0.9em;
}

.card > .clickables {
    grid-column: 3;
    grid-row: 3;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    margin-top: 10px;
}

/* End of Projects */

/* Start of Announcements */

.announcement-container {
    background-color: #fff;
    padding: 20px 30px 20px 30px;
    display: grid;
    gap: 30px;
    border-radius: 5px;
}

.announcement-container > div > p {
    font-weight: bold;
    font-size: 1.1em;
}

.announcement-container > div:first-child {
    border-bottom: 1px solid rgb(235, 230, 230);
}

.announcement-container > div > .description {
    font-size: 0.8em;
    padding-bottom: 15px;
}

.description,
.trending-title {
    color: gray;
}

/* End of Announcements */
/* Start of Trending */


.trending-container {
    background-color: #fff;
    padding: 20px 30px 20px 30px;
    display: grid;
    gap: 25px;
    border-radius: 5px;
}

.trending-user {
    display: grid;
    grid-template: 1fr 1fr / 1fr 4fr;
}

.trending-user > img {
    max-width: 50px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    grid-row: 1 / 3;
}

.trending-username {
    font-weight: bold;
    font-size: 0.9em;
}
